// button

.button {
	padding: .5em .75em;
	border: none;
	background: $link-color;
  color: white;
  font-weight: 600;	
  cursor: pointer;

    &:hover {
      text-decoration: none;
      background: lighten($link-color, 10%);
      @include text-shadow(none);
    }
}

a.button {
	@extend .button;
}