// ==========================================================================
// h1, h2, h3, etc.
// ==========================================================================

h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	font-family: $font-headers;
	margin: 0 0 1em;
	line-height: 1.35em;
}

h1, .h1 {
	font-size: 2.5em;
	line-height: 1.1em;
}